body {

    font-family: Arial, sans-serif;
    background: #0c0c0c;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;

}


.container {

    background: white;
    width: 350px;

    padding: 30px;

    border-radius: 10px;

    text-align: center;

    box-shadow: 0 0 10px #aaa;

}


input {

    width: 100%;

    padding: 12px;

    margin-bottom: 15px;

    box-sizing: border-box;

    border-radius: 5px;

    border: 1px solid #ccc;

}


button {

    width: 100%;

    padding: 12px;

    background: #007bff;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

}


button:hover {

    background: #0056b3;

}


#resultado {

    margin-top: 20px;

}


#resultado h1 {

    color: green;

    font-size: 40px;

}




#comt1{
    position: relative;
    width: 20vw;
    box-sizing: content-box;
    margin-bottom: 2rem;

}
#tempo{
    color: red;
}
